.hero__category {
  background-color: $header-background;
  color: $white-color;
}
.hero__category__title {
  text-align: center;
  @include font(4rem, 700, 4.4rem, 1.4px);
  text-transform: uppercase;
  color: $white-color;
  padding-bottom: 9.7rem;
}
