$brown-color: #d87d4a;
$black-one-color: #000000;
$black-two-color: #101010;
$silver-color: #f1f1f1;
$white-color: #ffffff;
$brown-light-color: #fbaf85;
$silver-light-color: #fafafa;
$header-background: #141414;
$black-btn-bg: #4c4c4c;

$main-ff: "Manrope", Arial, sans-serif;
